* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-image: url('./Frame_1.png');
  background-size: cover;
  color: #fff;
  padding: 20px;
  height: 40%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

nav {
  /* display: inline-block; */
  position: absolute;
  top: 90%;
  /* transform: translateY(-50%); */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 80px;
  margin-bottom: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  outline: none !important;
}

nav a:active,
nav a:focus {
  bottom: 0;
  color: rgb(18, 53, 206);
  text-decoration: none;
  outline: none;
}

main {
  position: relative;
  top: 120px; /* 将 main 元素向下移动 */
  padding: 20px;
}

section {
  margin-bottom: 50px;
}

h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
}